<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
       <div class="cta-left">
            <div class="cta-left-inner">
                <h2 class="title">
                    Need a Reliable Plumber?
                </h2>
                <p>
                    Contact GB Boilers today for a free, no-obligation quote. Whether you need a boiler service, installation or repair, we're here to help.
                </p>
                <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
                <a href="tel:08001937033" class="cs-button-solid">Call 0800 193 7033</a>
            </div>
       </div>
       <div class="cta-right">
            <picture>
                <source media="(max-width: 600px)" srcset="/assets/images/image-11.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/image-11.webp">
                <img aria-hidden="true" decoding="async" src="/assets/images/image-11.webp" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
            </picture>
       </div>
</section>