<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Need a Reliable Plumber?
        </h2>
        <p>
            Contact GB Boilers today for a free, no-obligation quote. Whether you need a boiler service, installation or repair, we're here to help.
        </p>
        <div class="button-row">
            <a href="/contact" class="cs-button-solid">Get a Free Quote</a>
            <a href="/contact" class="cs-button-solid">Call 07XXX XXX XXX</a>
        </div>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/boiler-service-hero.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/boiler-service-hero.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/boiler-service-hero.jpg" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>