---
title: 'Painter in Putney | GB Boilers'
description: 'GB Boilers'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'putney/'
eleventyNavigation:
    key: putney
    order: 3200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/landing.css">
{% endblock %}

{% block body %}


    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Painter in Putney</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/aproach-img2.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/aproach-img2.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/aproach-img2.jpeg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

   <!-- ============================================ -->
<!--                  Services img left                   -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/landing-img1.jpeg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/landing-img1.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/landing-img1.jpeg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <!-- <span class="cs-topper">Small Group Training</span> -->
            <h2 class="cs-title">Transform Your Space with <span class="cs-color">Exceptional Results</span></h2>
            <!-- <h3 class="cs-h3">Process Engineering</h3> -->
            <p class="cs-text">
                Are you looking for a painter and decorator who can bring your vision to life? Look no further. Our team of experienced professionals at Magic Painting is dedicated to delivering exceptional results, taking pride in our attention to detail, and mastering all materials and techniques. 
            </p>
            <p class="cs-text">With a passion for bringing a showroom finish to every project, we're the perfect choice for both commercial and residential painting and decorating needs.</p>
           
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Services  img right                  -->
<!-- ============================================ -->

<section id="services-563">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/service-img2.jpeg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/service-img2.jpeg">
            <img loading="lazy" decoding="async" src="/assets/images/service-img2.jpeg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <!-- <span class="cs-topper">Small Group Training</span> -->
            <h2 class="cs-title">Commercial Painting <span class="cs-color">Services</span></h2>
            <!-- <h3 class="cs-h3">Process Engineering</h3> -->
            <p class="cs-text">
                Whether you're a business owner looking to revamp your office space or a property manager seeking to enhance the curb appeal of your building, our commercial painting services are tailored to meet your specific needs. 
            </p>
            <p class="cs-text">
                Our team is experienced in working with various materials and techniques, ensuring that your project is completed efficiently and effectively. 
            </p>
            <p class="cs-text">
                From interior painting to exterior coatings, we'll work with you to create a space that reflects your brand and enhances your reputation.
            </p>
           
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>
                  

   <!-- ============================================ -->
<!--                  Services img left                   -->
<!-- ============================================ -->

<section id="services-564">
    <div class="cs-container">
        <picture class="cs-picture">
           <!--Mobile Image-->
           <source media="(max-width: 600px)" srcset="/assets/images/about-col-img2.jpeg">
           <!--Tablet and above Image-->
           <source media="(min-width: 601px)" srcset="/assets/images/about-col-img2.jpeg">
           <img loading="lazy" decoding="async" src="/assets/images/about-col-img2.jpeg" alt="computer" width="630" height="528" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <!-- <span class="cs-topper">Small Group Training</span> -->
            <h2 class="cs-title">Residential Painting <span class="cs-color">Services</span></h2>
            <!-- <h3 class="cs-h3">Process Engineering</h3> -->
            <p class="cs-text">
                At home, a fresh coat of paint can completely transform the ambiance and value of your property. 
            </p>
            <p class="cs-text">Our residential painting services are designed to provide you with a showroom-quality finish that you'll love. From living rooms to bedrooms, kitchens to bathrooms, we'll work with you to choose the perfect colours and finishes to match your style and budget. </p>
            <p class="cs-text">
                Whether you're looking for a subtle refresh or a full-scale renovation, our team is equipped to handle any project.
            </p>
           
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1712">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
                srcset="/assets/images/landing-img3.jpeg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
                srcset="/assets/images/landing-img3.jpeg">
        <img loading="lazy" decoding="async"
                src="/assets/images/landing-img3.jpeg"
                alt="busines meeting" width="522" height="609" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">Our Key</span>
                <h2 class="cs-title">What sets us apart from other companies?</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Attention to Detail</h3>
                        <p class="cs-item-text">
                            We understand that every project is unique, and we take the time to listen to your specific needs and goals. Our team is meticulous in their work, ensuring that every brushstroke, every coat, and every finishing touch is perfect. We're committed to delivering exceptional results that exceed your expectations.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Hassle-free process</h3>
                        <p class="cs-item-text">
                            We understand that renovating can be a daunting task, which is why we're committed to making the process as easy and hassle-free as possible. From the initial consultation to project completion, we'll keep you informed every step of the way. Our team will:
                        </p>
                        <ul class="step-content-list">
                            <li>Work around your schedule to minimise disruption</li>
                            <li>Provide a detailed quote and timeline for your project</li>
                            <li>Clean up thoroughly after each day's work</li>
                            <li>Ensure that all necessary permits and licenses are obtained</li>                            
                        </ul>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Expertise in Materials and Techniques</h3>
                        <p class="cs-item-text">
                            Our team has extensive experience working with various materials and we’re experts in applying these materials using the various techniques, from traditional brushwork to modern spray applications. Whether you have a specific material or technique in mind, we can help you achieve the desired look.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">04</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Passion for Showroom Finishes</h3>
                        <p class="cs-item-text">
                            At Magic Painting, we're passionate about bringing a showroom finish to every project. We understand that a well-finished paint job can elevate the aesthetic of any space, making it look polished and professional. Our team takes pride in their work, ensuring that every surface is smooth, even, and free of imperfections.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}