/* Logo sizing */
#cs-navigation .cs-logo img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
} 

/* Footer logo sizing */
#cs-footer-1783 .cs-logo-img {
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
} 

body.dark-mode #cs-navigation {
    background-color: red !important;
}